<nav class='header'>
  <div class='header-info'>
    <%=link_to 'Políticos RJ', politicians_path%>
    <%=link_to 'Deletar dados', destroy_all_politicians_path, data: { confirm: 'Are you sure?' }, method: :delete%>
  </div>
</nav>
