.header {
  background-color: #212529;

  .header-info {
    padding: 30px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #efefef;
    font-weight: bold;
  }
  
  .header-title {
    font-size: 26px;
  }
}
